


.nav{
    background-color: #ffff;
    border-bottom: solid 1px #345B63;
    position: fixed;
    top: 0;
    width: 100%;
    
   

}


ul{
    
    justify-content: space-around;
}


li{
    list-style: none;
    margin-right: 35px;
}


a{
    text-decoration: none;
}

.name{
 padding: 5px;
 font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 font-weight: bolder;
 font-size: medium;
 color: #420516;
}
.name:hover{
    color: #00A19D;
}

.navbar{
    
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: small;
    font-weight: bold;
    margin: 25px;
    text-align: center;
    color: #5F7A61;  
}
.navbar:hover{
    color: #A45D5D;
}

.mem{
    animation-name: opa;
    animation-duration: 4s;
    height: auto;

}
.t{
    color: black;
    margin-top:3em;
    margin-left: 1.5em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 65px;
    font-weight: bold;
    animation-name: t;
    animation-duration: 2s;
    animation-timing-function: ease-out;
}
  @keyframes t {
    from{
     margin-left: 0px;
    }
    to{
      margin-left: 98px;
    }
}

.title{
    color: black;
    margin-top: -1em;
    margin-left: 1em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 95px;
    font-weight: bold;
    animation-name: tl;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    
    
    
}

.title:after {
    color: #f00000;
    content: "Isaac Dasari";
  }

  @keyframes tl {
    from{
     margin-left: 0px;
     opacity: 0;
     
    }
    to{
      margin-left: 95px;
      opacity: 100%;
    }
}

  .txt{
    color: #6E85B2;
    margin-top: -3.9em;
    margin-left: 4em;
    height: auto;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 18.5px;
    animation: tx;
    animation-duration: 2s;
  }
  @keyframes tx {
    from{
      transform: scale(0);
    }
    to{
      transform: scale(1.0);
    }
    
  }

  .txt-area{
    margin-top: -6em;
    margin-left: 41.65em;
    height: 50%;
    width: auto;
    float: rigth;
    background-image: linear-gradient(135deg, #EEAD92 10%, #6018DC 100%);
    border-top-left-radius:100%;
  }

  .pic{
     margin-top: -20em;
     position: relative;
     top: auto;
     
     height: auto;
     width: auto;
      float: right;
      height: 640px;
      width:480px;
      background-attachment: fixed;
      display: flex;
  }

  .skil-div{
      background-color: #003638;
      position: relative;
      

  }

  @keyframes opa {
    from{
      opacity: 0;
    }
    to{
      opacity: 100%;
    }
  }




     
  .container {
      margin-top: -5em;
    height: auto;
    padding: 100px 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #003638;
    flex-wrap: wrap;
  }
  .bar {
    display: inline-block;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: relative;
    box-shadow: -3px -3px 7px #055052, 3px 3px 5px #082032;
    overflow: hidden;
    margin: 50px;
  }
  .bar:after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 80%;
    width: 80%;
    border-radius: 50%;
    box-shadow: inset -3px -3px 7px #055052,
      inset 3px 3px 5px #082032;
  }
  svg {
    width: 100%;
    height: 100%;
    position: relative;
  }
  
  svg circle {
    position: absolute;
    transform: scale(0.939);
    transform-origin: center;
    fill: none;
    stroke: #055052;
    stroke-width: 30px;
    stroke-dasharray: 630px;
    /* stroke-dashoffset: 630px; */
  }
  .bar:nth-child(1) svg circle {
    animation: bar_1 3s ease forwards infinite;
  }
  .bar:nth-child(2) svg circle {
    animation: bar_2 3s ease forwards infinite;
  }
  .bar:nth-child(3) svg circle {
    animation: bar_3 3s ease forwards infinite;
  }
  .bar:nth-child(4) svg circle {
    animation: bar_4 3s ease forwards infinite;
  }
  


  
  h1 {
    position: absolute;
    font-size: 20px;
    font-family: "Montserrat";
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #53B8BB;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  /* svg circle {
      stroke-dashoffset: calc(950 - (950*10) / 100);
  } */
  @keyframes bar_1 {
    0% {
      stroke-dashoffset: 630px;
    }
    100% {
      stroke-dashoffset: calc(630px - (630px * 70) / 100);
    }
  }
  @keyframes bar_2 {
    0% {
      stroke-dashoffset: 630px;
    }
    100% {
      stroke-dashoffset: calc(630px - (630px * 55) / 100);
    }
  }
  @keyframes bar_3 {
    0% {
      stroke-dashoffset: 630px;
    }
    100% {
      stroke-dashoffset: calc(630px - (630px * 30) / 100);
    }
    
  }
 
  @keyframes bar_4 {
    0% {
      stroke-dashoffset: 630px;
    }
    100% {
      stroke-dashoffset: calc(630px - (630px * 50) / 100);
    }
    
  }

  

.text{
    color: #53B8BB;
    
}
 .sl{
     margin-top: -25em;
     text-align: center;
 }





 .dy{
   text-align: center;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   font-weight: bold;
   font-size: large;
   margin-top: 1em;
   top: 5em;
   color: yellow;
   margin-bottom: 2em;
   
 }
 .stat{
   text-align: center;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   font-weight: bolder;
   font-size: 100px;
   color: wheat;
   
 }





 .fa {
  padding: 20px;
  font-size: 30px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  margin: 20px 50px;
  
  box-shadow: -2px -3px 7px grey, 3px 3px 5px white;
  border-radius: 30%;
  color: black;
  transition: transform .2s;
  margin-left: 25px;
  
  
  
}

.fa:after{
  box-shadow: inset -3px -3px 7px grey,
}
.fa:hover{
      transform: scale(1.5);
}


